html, body, #root{
    height: 100%;
    width: 100%;
    touch-action: none;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
h1, h2, h3, h4{
    font-weight: normal;
    font-size: normal;
}
li{
    list-style: none;
}
input{
    outline: none;
}
em, i{
    font-style: normal;
}
img{
    vertical-align: middle;
}